*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.6s ease background-color;
}
/* variables */
:root[data-theme="light"] {
  --dark-violet: #293264;
  --medium-violet: #4d5b9e;
  --light-violet: #d6dbf5;
  --white-color: #f5f7fb;
  --dark-mode-back-color-bi: #0a2647c9;
  --dark-mode-icon-color-bi: #f2f7a1;
  --dark-mode-boxshadow-bi: #000000;
  --wrong: rgba(201, 16, 16, 0.733);
  --correct: rgba(21, 194, 21, 0.724);
  --ananswered: rgba(197, 197, 21, 0.733);
}
:root[data-theme="dark"] {
  --dark-violet: #eeeeee;
  --medium-violet: #00adb5;
  --light-violet: #393e46;
  --white-color: #f5f7fb;
  --dark-back-color: #222831;
  --dark-mode-back-color-bi: #ffcc33;
  --dark-mode-icon-color-bi: #fff;
  --dark-mode-boxshadow-bi: #211212;
  --wrong: rgba(191, 41, 41, 0.733);
  --correct: rgba(39, 134, 39, 0.724);
  --ananswered: rgba(105, 105, 42, 0.733);
}
/* end variables */
body {
  font-family: "Inter";
  font-weight: 400;
  color: var(--dark-violet);
  background-color: var(--dark-back-color);
}
/*
    buttons css
*/

.large__btn {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 1.25rem 2.75rem;
  background-color: var(--medium-violet);
  font-size: 1.25rem;
  border-radius: 0.5rem;
  color: var(--white-color);
  font-weight: bold;
  font-size: 1.25rem;
}

.large__btn:hover,
.medium__btn:hover {
  transition: 0.2s ease opacity;
  opacity: 0.8;
}
.medium__btn {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-size: 1.25rem;
  color: var(--dark-violet);
}
.back__btn {
  background-color: var(--light-violet);
}
.start__btn {
  background-color: var(--medium-violet);
}

/*
   end buttons css
*/
/* app page code */
.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.yellow-particle {
  background-image: url(images/yellowParticle.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  height: 40%;
  width: 40%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.violet-particle {
  background-image: url(images/violetParticle.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  height: 40%;
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
/* end app page code */
/* start page code */
.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}
.start__title {
  font-size: 3.75rem;
}
.start__description {
  font-size: 1.25rem;
}

/* end start page code */
/* creat quiz page code */
.create-quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.QP-information__title {
  font-size: 3rem;
}
.QP-information__description {
  font-size: 1.25rem;
  margin-top: 1rem;
}
.createQuiz__information {
  width: 50%;
  text-align: center;
}
.createQuiz__navigation {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 1.5rem;
}
.createQuiz__inputs {
  width: 50%;
  margin-top: 1.5rem;
}
.createQuiz__inputs > div {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.createQuiz__inputs > div > label {
  margin-right: 0.3rem;
}
.QP__input {
  outline: none;
  background: none;
  border: none;
  background-color: var(--light-violet);
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: 1rem;
}
/* end creat quiz page code */

/* dark mode btn */
.dark-mode-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 2.5rem;
  z-index: 100;
  border-radius: 2rem;
  margin: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--dark-mode-back-color-bi);
  padding: 0.5rem 0.3rem;
  cursor: pointer;
  box-shadow: 0 0 5px 0px var(--dark-mode-boxshadow-bi) inset;
}
.dark-mode__icon {
  font-size: 1.5rem;
  color: var(--dark-mode-icon-color-bi);
  position: relative;
  left: 0%;
  transition: 0.6s linear color;
}
/*end dark mode btn */

/*  loading css */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--medium-violet);
}
.loader {
  width: 100px;
  height: 100px;
  border: 10px solid var(--light-violet);
  border-top-color: var(--dark-violet);
  border-radius: 50%;
  animation-name: loader;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.loading__hidden {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear all;
}
@keyframes loader {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
/* end loading css */
/* question page and questions styling */
.question-page {
  width: 80%;
  height: 100%;
}
.questions-container {
  overflow-y: auto;
  height: 80%;
  margin-top: 1rem;
}
.question {
  border-bottom: 1px solid var(--light-violet);
  padding-block: 1.5rem;
}
.question-title {
  font-size: 1.5rem;
  color: var(--dark-violet);
}
.answers-container {
  margin-top: 1.5rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.answer {
  background: none;
  outline: none;
  border: 2px solid var(--medium-violet);
  color: var(--medium-violet);

  font-size: 1.125rem;
  border-radius: 12px;
  padding: 0.5rem 2.25rem;
  cursor: pointer;
}

.answer:hover {
  background-color: var(--light-violet);
  border: 2px solid transparent;
  transition: 0.2s ease;
}
.answer_selected {
  background-color: var(--light-violet);
}
.check-answers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.question-page > .back__btn {
  margin-top: 1.125rem;
}
.checkAnswers_description {
  font-size: 1.5rem;
}

.wrong,
.wrong:hover {
  background-color: var(--wrong);
  cursor: not-allowed;
  border: 2px solid var(--medium-violet);
}
.correct,
.correct:hover {
  background-color: var(--correct);
  border: 2px solid var(--medium-violet);
}
.unanswered,
.unanswered:hover {
  background-color: var(--ananswered);
  cursor: not-allowed;
  border: 2px solid var(--medium-violet);
}
.disabled,
.disabled:hover {
  cursor: not-allowed;
  border: 2px solid var(--medium-violet);
}
/* end question page and questions styling */

/* animations */
.slide-in-elliptic-top-fwd {
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}
.light-transition {
  animation: light-mode-transition 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

.dark-transition {
  animation: dark-mode-transition 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

@keyframes dark-mode-transition {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
    left: 0;
    translate: -100%;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
    left: 100%;
    translate: -100%;
  }
}
@keyframes light-mode-transition {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
    left: 100%;
    translate: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
    left: 0;
    translate: 0;
  }
}

/* end animations */
/* end dark mode btn */

/* media queries */
@media screen and (max-width: 656px) {
  html {
    font-size: 10px;
  }
}
:root[data-theme="dark"] .yellow-particle {
  display: none;
}
:root[data-theme="dark"] .violet-particle {
  display: none;
}
